<% content_for :breadcrumb do %>
  <%= link_to "Dashboard", root_path %><span class="separator">›</span> <%= link_to "RP Transaction", rp_transactions_path %><span class="separator">›</span> New
<% end %>

<div class="page-header">
  <h2>New RP Transaction</h2>
</div>

<div class="card">
  <%= form_with model: @rp_transaction, url: rp_transactions_path do |f| %>
    <% if @rp_transaction.errors.any? %>
      <div class="form-errors mb-16">
        <% @rp_transaction.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
      </div>
    <% end %>

    <div class="grid-2">
      <div class="form-group">
        <%= f.label :reporting_entity_id, "Reporting Entity" %>
        <%= f.select :reporting_entity_id, @reporting_entities.map { |e| [e.name, e.id] }, { prompt: "-- Select --" }, { class: "form-control", id: "form_reporting_entity", disabled: @rp_transaction.reporting_entity_id.present? } %>
        <% if @rp_transaction.reporting_entity_id.present? %>
          <%= f.hidden_field :reporting_entity_id %>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label :reporting_unit_id, "Reporting Unit" %>
        <% if @reporting_units.present? %>
          <%= f.select :reporting_unit_id, @reporting_units.map { |u| [u.name, u.id] }, { prompt: "-- Select Reporting Unit --" }, { class: "form-control", id: "form_reporting_unit", disabled: @rp_transaction.reporting_unit_id.present? } %>
          <% if @rp_transaction.reporting_unit_id.present? %>
            <%= f.hidden_field :reporting_unit_id %>
          <% end %>
        <% else %>
          <%= f.select :reporting_unit_id, [], { prompt: "-- Select Reporting Entity first --" }, { class: "form-control", id: "form_reporting_unit", disabled: true } %>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label :period_id, "Period" %>
        <%= f.select :period_id, @periods.map { |p| ["#{p.month} - #{p.financial_year}", p.id] }, { prompt: "-- Select --" }, { class: "form-control", disabled: @rp_transaction.period_id.present? } %>
        <% if @rp_transaction.period_id.present? %>
          <%= f.hidden_field :period_id %>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label :counterparty %>
        <%= f.select :counterparty, @counterparties.map { |name| [name, name] }, { prompt: "-- Select Counterparty --" }, { class: "form-control" } %>
      </div>

      <div class="form-group">
        <%= f.label :nature, "Nature of Transaction" %>
        <%= f.select :nature, @natures.map { |n| [n, n] }, { prompt: "-- Select --" }, { class: "form-control", id: "form_nature" } %>
      </div>

      <div class="form-group">
        <%= f.label :sub_nature, "Sub-Nature of Transaction" %>
        <%= f.select :sub_nature, [], { prompt: "-- Select Nature first --" }, { class: "form-control", id: "form_sub_nature", disabled: true } %>
      </div>

      <div class="form-group">
        <%= f.label :transaction_type, "Type of Transaction" %>
        <%= f.select :transaction_type, [], { prompt: "-- Select Sub-Nature first --" }, { class: "form-control", id: "form_transaction_type", disabled: true } %>
      </div>

      <div class="form-group">
        <%= f.label :amount %>
        <%= f.text_field :amount, placeholder: "Enter Amount", class: "form-control" %>
      </div>
    </div>

    <div class="mt-16">
      <%= f.submit "Create Transaction", class: "btn-primary" %>
      <%= link_to "Cancel", rp_transactions_path, class: "btn-secondary ml-8" %>
    </div>
  <% end %>
</div>

<% content_for :page_script do %>
  <%= javascript_include_tag "rp_transactions_form" %>
<% end %>
